*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}



