*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; 
  overscroll-behavior: hidden;
}


body{
  background-color: rgba(0, 0, 0, 0.863);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; 
}

header{
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}



